<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cartpole">

  <gazebo reference="slideBar">
    <material>Gazebo/Green</material>
  </gazebo>

  <gazebo reference="cart">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="pole">
    <material>Gazebo/Red</material>
  </gazebo>
  
  <gazebo reference="leg1">
    <material>Gazebo/Gray</material>
  </gazebo>
  
  <gazebo reference="leg2">
    <material>Gazebo/Gray</material>
  </gazebo>

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(find cartpole_controller)/config/cartpole_controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>