<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cartpole">

  <ros2_control name="RobotSystem" type="system">

    <xacro:if value="$(arg is_sim)">
      <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>
    </xacro:if>

    <xacro:unless value="$(arg is_sim)">
      <hardware>
        <plugin>cartpole_controller/CartpoleHardwareInterface</plugin>
        <param name="device_path">/dev/ttyACM0</param>
        <param name="baud_rate">115200</param>
      </hardware>
    </xacro:unless>

    <!-- Cart'ı hareket ettiren slider jointi -->
    <joint name="slider_to_cart">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <!-- Pendulumun encoder verisi için (motor kontrolü yok) -->
    <joint name="cart_to_pole">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

  </ros2_control>

</robot>